
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#ActivityAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
 
	 	var id = getParam("activityId");
		
		$( "#multiSelectForUser" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("UserInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the User
				var parentId = document.getElementById( 'activityId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/Activity/saveUser?activityId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingActivity();
				});
			}
			// hide the select
			$("#multiSelectForUserDivId").hide();
		});
	
	 	$( document ).on('refreshUserForActivity', function() 
	 	{			
	 		// reload Activity and apply the User
	 		var url 	= '/Activity/load?activityId=' + id;
	 		var element = document.getElementById( 'UserInputId' );
	 		var field 	= 'user.firstName';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("activityId");
			
			jQuery.ajax(
			{
		  		url: '/Activity/load?activityId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingActivity()
	{
		document.getElementById("ActivityFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetActivity()
	{
		document.getElementById("ActivityProfileFormId").reset();
	}
	
	function saveActivity()
	{
		$('#ActivityFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#ActivityProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/Activity/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#ActivityProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' )
			{
				parentUrl = parentUrl + '&childId=' + data['activityId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created Activity
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('activityId').value = data['activityId'];

			if ( action == 'create' )
				$( '#ActivityAssociationDivId' ).show();
*/				
			doneSavingActivity();
		});
		
		$('#ActivityFormLoadingDivId').hide();			
	
	}
		function addUser()
	{
		addHelperForActivity( 'User', 'User' );
	}
	
	function deleteUser()
	{ 
		deleteHelperForActivity( 'User', 'firstName' );
	}

	function addUserFromList()
	{
		// display the multi-select (viewAll and User lists)
		$("#multiSelectForUserDivId").show();

		jQuery.ajax(
		{
		    url: "/User/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForUser").empty();
			
			var selectId	= "multiSelectForUser";
			var text 		= 'firstName';
			var value 		= 'referrerId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
        function addHelperForActivity( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for Activity " + roleName;
		var parentId = document.getElementById("activityId").value;
		parentUrl = '/Activity/save' + roleName + '?activityId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=activity&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForActivity';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForActivity( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/Activity/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#ActivityProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("ActivityFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="ActivityProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="ActivityProfileFormId" class="formTableClass">
    <input type=hidden id="activityId" name="activityId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">refObjId</td>
	  <td class="formTDClass">	<input type='text' id="refObjId" name="refObjId" placeHolder="refObjId" required="required" validate="required" class="maskedWholeNumberField form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">createDateTime</td>
	  <td class="formTDClass">	<input size="16" type="text" id="createDateTime" name="createDateTime" readonly class="form_datetime form-control">
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">Type</td>
	  <td class="formTDClass">	<select id='type' name='type' class="form-control">
        	<option value='referenceStarted'>referenceStarted</option>
        	<option value='referenceNotificationExpired'>referenceNotificationExpired</option>
        	<option value='referenceCompleted'>referenceCompleted</option>
        	<option value='referenceGroupChecked'>referenceGroupChecked</option>
        	<option value='commentCreated'>commentCreated</option>
        	<option value='referenceMadePublic'>referenceMadePublic</option>
        	<option value='referenceMadePrivate'>referenceMadePrivate</option>
    </select>	
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save Activity" onclick="saveActivity()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-floppy-disk">
		      	Save
		      </span>
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetActivity()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-refresh">
		      	Reset
		      </span>
			</button>
		</a>
	</div> 
  </form>
</div>

<div id="ActivityAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
		  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        User
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="UserInputId" name="user.firstName" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForUserDivId" style="display:none">
	                  <select id="multiSelectForUser" />
	                  <a href="#" onclick="$('#multiSelectForUserDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create User" onclick="addUser()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add User from list" onclick="addUserFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete User" onclick="deleteUser()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
	</table>

  </div>
</div>
<div id="ActivityFormLoadingDivId" style="display:none;color:black">
  saving Activity...<image src="../img/load_new.gif" width=48 height=48/>
</div>				  				  
<div id="ActivityFormStatusDivId">
</div>				  				  


