
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#QuestionAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
			parentId	= "questionId=" + getParam("questionId");
  		parentUrl	= "/Question/saveResponses?" + parentId;
  		addUrl 		= "/html/TheResponseProfileForm.html?action=create";
  		deleteUrl 	= "/Question/deleteResponses?" + parentId;
  		modelUrl 	= "/Question/loadResponses?" + parentId;

		args = 'roleName=Responses&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/TheResponseViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'Question_ResponsesDivId').html( data );
		});		
		
		//$('#' + 'Question_ResponsesDivId').load(url);
		
	  
	 	var id = getParam("questionId");

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("questionId");
			
			jQuery.ajax(
			{
		  		url: '/Question/load?questionId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingQuestion()
	{
		document.getElementById("QuestionFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetQuestion()
	{
		document.getElementById("QuestionProfileFormId").reset();
	}
	
	function saveQuestion()
	{
		$('#QuestionFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#QuestionProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/Question/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#QuestionProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' )
			{
				parentUrl = parentUrl + '&childId=' + data['questionId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created Question
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('questionId').value = data['questionId'];

			if ( action == 'create' )
				$( '#QuestionAssociationDivId' ).show();
*/				
			doneSavingQuestion();
		});
		
		$('#QuestionFormLoadingDivId').hide();			
	
	}
		function addResponses()
	{
		addHelperForQuestion( 'TheResponse', 'Responses' );
	}

	function deleteResponses()
	{
		var ids;
		deleteHelperForQuestion( 'Responses', 'responseText', ids );
	}
	
	function addResponsesFromList()
	{
	}
	
        function addHelperForQuestion( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for Question " + roleName;
		var parentId = document.getElementById("questionId").value;
		parentUrl = '/Question/save' + roleName + '?questionId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=question&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForQuestion';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForQuestion( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/Question/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#QuestionProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("QuestionFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="QuestionProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="QuestionProfileFormId" class="formTableClass">
    <input type=hidden id="questionId" name="questionId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">weight</td>
	  <td class="formTDClass">	<input type='text' id="weight" name="weight" placeHolder="weight" required="required" validate="required" class="maskedDecimalField form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">questionText</td>
	  <td class="formTDClass">	<input type='text' id="questionText" name="questionText" placeHolder="questionText" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">identifier</td>
	  <td class="formTDClass">	<input type='text' id="identifier" name="identifier" placeHolder="identifier" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">mustBeAnswered</td>
	  <td class="formTDClass">	<input type='checkbox' id='mustBeAnswered' name='mustBeAnswered' placeHolder='mustBeAnswered' class="form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">responseExclusive</td>
	  <td class="formTDClass">	<input type='checkbox' id='responseExclusive' name='responseExclusive' placeHolder='responseExclusive' class="form-control" />
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save Question" onclick="saveQuestion()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-floppy-disk">
		      	Save
		      </span>
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetQuestion()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-refresh">
		      	Reset
		      </span>
			</button>
		</a>
	</div> 
  </form>
</div>

<div id="QuestionAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
	</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
		  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Responses
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="Question_ResponsesDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>

  </div>
</div>
<div id="QuestionFormLoadingDivId" style="display:none;color:black">
  saving Question...<image src="../img/load_new.gif" width=48 height=48/>
</div>				  				  
<div id="QuestionFormStatusDivId">
</div>				  				  


