
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#TheReferenceAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
			parentId	= "theReferenceId=" + getParam("theReferenceId");
  		parentUrl	= "/TheReference/saveAnswers?" + parentId;
  		addUrl 		= "/html/AnswerProfileForm.html?action=create";
  		deleteUrl 	= "/TheReference/deleteAnswers?" + parentId;
  		modelUrl 	= "/TheReference/loadAnswers?" + parentId;

		args = 'roleName=Answers&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/AnswerViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'TheReference_AnswersDivId').html( data );
		});		
		
		//$('#' + 'TheReference_AnswersDivId').load(url);
		
	  
	 	var id = getParam("theReferenceId");
		
		$( "#multiSelectForQuestionGroup" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("QuestionGroupInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the QuestionGroup
				var parentId = document.getElementById( 'theReferenceId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/TheReference/saveQuestionGroup?theReferenceId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingTheReference();
				});
			}
			// hide the select
			$("#multiSelectForQuestionGroupDivId").hide();
		});
	
	 	$( document ).on('refreshQuestionGroupForTheReference', function() 
	 	{			
	 		// reload TheReference and apply the QuestionGroup
	 		var url 	= '/TheReference/load?theReferenceId=' + id;
	 		var element = document.getElementById( 'QuestionGroupInputId' );
	 		var field 	= 'questionGroup.name';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });
		
		$( "#multiSelectForUser" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("UserInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the User
				var parentId = document.getElementById( 'theReferenceId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/TheReference/saveUser?theReferenceId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingTheReference();
				});
			}
			// hide the select
			$("#multiSelectForUserDivId").hide();
		});
	
	 	$( document ).on('refreshUserForTheReference', function() 
	 	{			
	 		// reload TheReference and apply the User
	 		var url 	= '/TheReference/load?theReferenceId=' + id;
	 		var element = document.getElementById( 'UserInputId' );
	 		var field 	= 'user.firstName';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });
		
		$( "#multiSelectForReferrer" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("ReferrerInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the Referrer
				var parentId = document.getElementById( 'theReferenceId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/TheReference/saveReferrer?theReferenceId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingTheReference();
				});
			}
			// hide the select
			$("#multiSelectForReferrerDivId").hide();
		});
	
	 	$( document ).on('refreshReferrerForTheReference', function() 
	 	{			
	 		// reload TheReference and apply the Referrer
	 		var url 	= '/TheReference/load?theReferenceId=' + id;
	 		var element = document.getElementById( 'ReferrerInputId' );
	 		var field 	= 'referrer.firstName';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });
		
		$( "#multiSelectForLastQuestionAnswered" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("LastQuestionAnsweredInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the LastQuestionAnswered
				var parentId = document.getElementById( 'theReferenceId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/TheReference/saveLastQuestionAnswered?theReferenceId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingTheReference();
				});
			}
			// hide the select
			$("#multiSelectForLastQuestionAnsweredDivId").hide();
		});
	
	 	$( document ).on('refreshLastQuestionAnsweredForTheReference', function() 
	 	{			
	 		// reload TheReference and apply the LastQuestionAnswered
	 		var url 	= '/TheReference/load?theReferenceId=' + id;
	 		var element = document.getElementById( 'LastQuestionAnsweredInputId' );
	 		var field 	= 'lastQuestionAnswered.weight';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("theReferenceId");
			
			jQuery.ajax(
			{
		  		url: '/TheReference/load?theReferenceId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingTheReference()
	{
		document.getElementById("TheReferenceFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetTheReference()
	{
		document.getElementById("TheReferenceProfileFormId").reset();
	}
	
	function saveTheReference()
	{
		$('#TheReferenceFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#TheReferenceProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/TheReference/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#TheReferenceProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' )
			{
				parentUrl = parentUrl + '&childId=' + data['theReferenceId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created TheReference
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('theReferenceId').value = data['theReferenceId'];

			if ( action == 'create' )
				$( '#TheReferenceAssociationDivId' ).show();
*/				
			doneSavingTheReference();
		});
		
		$('#TheReferenceFormLoadingDivId').hide();			
	
	}
		function addQuestionGroup()
	{
		addHelperForTheReference( 'QuestionGroup', 'QuestionGroup' );
	}
	
	function deleteQuestionGroup()
	{ 
		deleteHelperForTheReference( 'QuestionGroup', 'name' );
	}

	function addQuestionGroupFromList()
	{
		// display the multi-select (viewAll and QuestionGroup lists)
		$("#multiSelectForQuestionGroupDivId").show();

		jQuery.ajax(
		{
		    url: "/QuestionGroup/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForQuestionGroup").empty();
			
			var selectId	= "multiSelectForQuestionGroup";
			var text 		= 'name';
			var value 		= 'questionGroupId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
    		function addUser()
	{
		addHelperForTheReference( 'User', 'User' );
	}
	
	function deleteUser()
	{ 
		deleteHelperForTheReference( 'User', 'firstName' );
	}

	function addUserFromList()
	{
		// display the multi-select (viewAll and User lists)
		$("#multiSelectForUserDivId").show();

		jQuery.ajax(
		{
		    url: "/User/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForUser").empty();
			
			var selectId	= "multiSelectForUser";
			var text 		= 'firstName';
			var value 		= 'referrerId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
    		function addReferrer()
	{
		addHelperForTheReference( 'Referrer', 'Referrer' );
	}
	
	function deleteReferrer()
	{ 
		deleteHelperForTheReference( 'Referrer', 'firstName' );
	}

	function addReferrerFromList()
	{
		// display the multi-select (viewAll and Referrer lists)
		$("#multiSelectForReferrerDivId").show();

		jQuery.ajax(
		{
		    url: "/Referrer/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForReferrer").empty();
			
			var selectId	= "multiSelectForReferrer";
			var text 		= 'firstName';
			var value 		= 'referrerId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
    		function addLastQuestionAnswered()
	{
		addHelperForTheReference( 'Question', 'LastQuestionAnswered' );
	}
	
	function deleteLastQuestionAnswered()
	{ 
		deleteHelperForTheReference( 'LastQuestionAnswered', 'weight' );
	}

	function addLastQuestionAnsweredFromList()
	{
		// display the multi-select (viewAll and LastQuestionAnswered lists)
		$("#multiSelectForLastQuestionAnsweredDivId").show();

		jQuery.ajax(
		{
		    url: "/Question/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForLastQuestionAnswered").empty();
			
			var selectId	= "multiSelectForLastQuestionAnswered";
			var text 		= 'weight';
			var value 		= 'questionId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
    		function addAnswers()
	{
		addHelperForTheReference( 'Answer', 'Answers' );
	}

	function deleteAnswers()
	{
		var ids;
		deleteHelperForTheReference( 'Answers', 'Question', ids );
	}
	
	function addAnswersFromList()
	{
	}
	
        function addHelperForTheReference( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for TheReference " + roleName;
		var parentId = document.getElementById("theReferenceId").value;
		parentUrl = '/TheReference/save' + roleName + '?theReferenceId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=theReference&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForTheReference';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForTheReference( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/TheReference/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#TheReferenceProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("TheReferenceFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="TheReferenceProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="TheReferenceProfileFormId" class="formTableClass">
    <input type=hidden id="theReferenceId" name="theReferenceId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">dateLastUpdated</td>
	  <td class="formTDClass">	<input size="16" type="text" id="dateLastUpdated" name="dateLastUpdated" readonly class="form_datetime form-control">
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">active</td>
	  <td class="formTDClass">	<input type='checkbox' id='active' name='active' placeHolder='active' class="form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">dateTimeLastViewedExternally</td>
	  <td class="formTDClass">	<input size="16" type="text" id="dateTimeLastViewedExternally" name="dateTimeLastViewedExternally" readonly class="form_datetime form-control">
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">makeViewableToUser</td>
	  <td class="formTDClass">	<input type='checkbox' id='makeViewableToUser' name='makeViewableToUser' placeHolder='makeViewableToUser' class="form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">dateLastSent</td>
	  <td class="formTDClass">	<input size="16" type="text" id="dateLastSent" name="dateLastSent" readonly class="form_datetime form-control">
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">numDaysToExpire</td>
	  <td class="formTDClass">	<input type='text' id="numDaysToExpire" name="numDaysToExpire" placeHolder="numDaysToExpire" required="required" validate="required" class="maskedWholeNumberField form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">Status</td>
	  <td class="formTDClass">	<select id='status' name='status' class="form-control">
        	<option value='notYetStarted'>notYetStarted</option>
        	<option value='inProgress'>inProgress</option>
        	<option value='completed'>completed</option>
    </select>	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">Type</td>
	  <td class="formTDClass">	<select id='type' name='type' class="form-control">
        	<option value='character'>character</option>
        	<option value='business'>business</option>
        	<option value='employment'>employment</option>
        	<option value='residency'>residency</option>
    </select>	
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save TheReference" onclick="saveTheReference()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-floppy-disk">
		      	Save
		      </span>
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetTheReference()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-refresh">
		      	Reset
		      </span>
			</button>
		</a>
	</div> 
  </form>
</div>

<div id="TheReferenceAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
		  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        QuestionGroup
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="QuestionGroupInputId" name="questionGroup.name" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForQuestionGroupDivId" style="display:none">
	                  <select id="multiSelectForQuestionGroup" />
	                  <a href="#" onclick="$('#multiSelectForQuestionGroupDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create QuestionGroup" onclick="addQuestionGroup()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add QuestionGroup from list" onclick="addQuestionGroupFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete QuestionGroup" onclick="deleteQuestionGroup()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        User
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="UserInputId" name="user.firstName" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForUserDivId" style="display:none">
	                  <select id="multiSelectForUser" />
	                  <a href="#" onclick="$('#multiSelectForUserDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create User" onclick="addUser()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add User from list" onclick="addUserFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete User" onclick="deleteUser()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Referrer
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="ReferrerInputId" name="referrer.firstName" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForReferrerDivId" style="display:none">
	                  <select id="multiSelectForReferrer" />
	                  <a href="#" onclick="$('#multiSelectForReferrerDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create Referrer" onclick="addReferrer()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add Referrer from list" onclick="addReferrerFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete Referrer" onclick="deleteReferrer()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        LastQuestionAnswered
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="LastQuestionAnsweredInputId" name="lastQuestionAnswered.weight" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForLastQuestionAnsweredDivId" style="display:none">
	                  <select id="multiSelectForLastQuestionAnswered" />
	                  <a href="#" onclick="$('#multiSelectForLastQuestionAnsweredDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create Question" onclick="addLastQuestionAnswered()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add Question from list" onclick="addLastQuestionAnsweredFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete Question" onclick="deleteLastQuestionAnswered()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
		  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Answers
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="TheReference_AnswersDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>

  </div>
</div>
<div id="TheReferenceFormLoadingDivId" style="display:none;color:black">
  saving TheReference...<image src="../img/load_new.gif" width=48 height=48/>
</div>				  				  
<div id="TheReferenceFormStatusDivId">
</div>				  				  


